.deck-container {
    min-width: 30%;
    padding-bottom: 20px;
    padding-right: 5px;
}

.deck-card, .deck-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.deck-card {
    aspect-ratio: 2.5/3.5;
    width:  200px;
    background-color: rgb(167, 167, 168);
    border: solid;
    border-color: yellow;
    border-width: 8px;
    border-radius: 10px;
}

.deck-img {
    background-color: white;
}

h4 {
    color: black;
    margin-top: 0px;
    font-size: 20px;
}

.deck-info {
    color: black;
}